h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
h2 {
  text-align: center;
}
#timerDiv {
  text-align: center;
}

body {
  /* border-right: black solid 200px;
        border-left: black solid 200px; */
  border: 10px solid transparent;
  padding: 15px;
  background-image: url("https://cdn.hipwallpaper.com/i/17/48/rIV8iD.jpg");
  /* background-image: linear-gradient(red, yellow); */
}

#title {
  /* background-color: rgba(245, 245, 220, 0); */
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  background-image: url("https://lh3.googleusercontent.com/proxy/R-jlod4fuUps4dAnj17-aJwWGeDrMrRVGgONS7c87-bcVc8isboOmYKBXyXRr0tjE6sQg9dC3y92MEb3sIgr2Ed4rMMQjw5xKSBhcOKrowZuimXKPdMCLRrsA5Z0fkpxkjidHD503gHQYa8_yTD-LaCi2cvYRsBSUO3EPLDcB22gEF3LRdQrozmRIdUwQ2O3i6-Ry3isYTNdWneAO86uv5M"),
    url("https://lh3.googleusercontent.com/proxy/R-jlod4fuUps4dAnj17-aJwWGeDrMrRVGgONS7c87-bcVc8isboOmYKBXyXRr0tjE6sQg9dC3y92MEb3sIgr2Ed4rMMQjw5xKSBhcOKrowZuimXKPdMCLRrsA5Z0fkpxkjidHD503gHQYa8_yTD-LaCi2cvYRsBSUO3EPLDcB22gEF3LRdQrozmRIdUwQ2O3i6-Ry3isYTNdWneAO86uv5M");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-color: white;
  background-position: right bottom, left top, bottom left;
}

h1 {
  /* margin-bottom: 15%; */
  margin-top: 5%;
  margin-bottom: 5%;
  color: rgb(24, 21, 21);
}

p {
  margin-left: 20%;
  margin-right: 20%;
}

#songList {
  background-color: whitesmoke;
  margin-left: 10%;
  margin-right: 10%;
}

.card {
  margin-bottom: 3%;
}

.col-sm-4 {
  /* border: black solid 1px; */
  background-color: lightblue;
  margin-left: 10%;
  margin-bottom: 2%;
  padding: 0;
}

#playArea {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}

.word {
  position: relative;
  white-space: nowrap;
  color: lightblue;
  text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

.word::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  color: red;
  overflow: hidden;
  width: 40%;
  animation: run-text 10s infinite linear;
  text-shadow: 0 0 3px rgba(255, 255, 255, 1);
}

@keyframes run-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#lyricsDisplay {
  background-color: black;
}
